<!DOCTYPE html>
<html>
  <head>
  <!--  <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
-->
<title>Retro Deborah Downer</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<link rel="stylesheet" type="text/js" href="static/js/script.js">
<link rel="stylesheet" type="text/css" href="static/css/fonts/fonts.css" />
<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

<!--<link rel="stylesheet" type="text/css" href="static/css/retro.css">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  </head>

  <body>
    <br><br><br><br><br>
    <h1>Deborah Downer: Retro First World Problems</h1>
    <div class="center-div">
      <div id="chatbox">
	<p class="botText"><span>Hi! I'm Deborah Downer.</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
    </div>

      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();

          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            if (rawText.indexOf("boyband")>0){
              var audio = new Audio('static/music/backstreetbois.mp3');
              audio.play();
            }
            if (data.indexOf("<br") > -1){
            responsiveVoice.speak(data.substring(0, data.indexOf("<br")));
          }
            else if (data.indexOf("<img") > -1){
            responsiveVoice.speak(data.substring(0, data.indexOf("<img")));
          }
          else{
            responsiveVoice.speak(data);
          }
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);

            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
          getBotResponse();
        })
      </script>
      <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    </div>
  </body>
</html>
